.navbar {
  width: 100%;
  background-color: rgb(38, 35, 35);
  padding: 2rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  position: relative; /* necesario para el pseudo-elemento */
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
}

/* Subrayado con pseudo-elemento */
.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6600;
  transition: width 0.3s ease;
}

/* Línea y color al pasar el cursor o presionar */
.nav-list li a:hover,
.nav-list li a:active {
  color: #ff9900; /* color hover */
}

.nav-list li a:hover::after,
.nav-list li a:active::after {
  width: 100%;
}

/* Mantener color y subrayado naranja para el enlace activo */
.nav-list li a.active {
  color: #ff6600;
}

.nav-list li a.active::after {
  width: 100%;
}