/* CONTENEDOR PRINCIPAL */

.game-page {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  color: white;
}

/* TITULO */

.game-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-title span {
  color: #ff6600;
}

/* SUBTITULO */

.game-subtitle {
  color: #ccc;
  margin-bottom: 40px;
}

/* CONTENEDOR DEL JUEGO */

.game-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* AREA DEL JUEGO */

.unity-placeholder {
  width: 900px;
  height: 500px;
  background: #1f1f1f;
  border: 2px solid #ff6600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 18px;
}

/* INFO DEL JUEGO */

.game-info {
  background: #262323;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

.game-info h2 {
  color: #ff6600;
  margin-bottom: 10px;
}

.game-info ul {
  padding-left: 20px;
}

.game-info li {
  margin-bottom: 8px;
  color: #ccc;
}