/* CONTENEDOR PRINCIPAL */

.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

/* TITULO PRINCIPAL */

.home-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.home-title span {
  color: #ff6600;
}

/* SUBTITULO */

.home-subtitle {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 40px;
}